<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anmory.mybatistest1.mapper.UserMapper">
    <select id="selectAllXml" resultType="com.anmory.mybatistest1.model.User">
        select * from user_info;
    </select>
    <insert id="insertXml" useGeneratedKeys="true" keyProperty="id">
        insert into user_info (username, password) VALUES (#{user.username},#{user.password})
    </insert>
    <delete id="deleteXml">
        delete from user_info where id=#{user.id}
    </delete>
</mapper>